<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InspectWeb</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <script type="text/javascript" src="jquery.jsonview.js"></script>
  <link rel="stylesheet" href="jquery.jsonview.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
  <script type="text/javascript">
    var json = <%- JSON.stringify(json) %>;
    $(function() {
      $("#json").JSONView(json);

      $("#json-collapsed").JSONView(json, {
        collapsed: true,
        nl2br: true,
        recursive_collapser: true
      });

      $('#collapse-btn').on('click', function() {
        $('#json').JSONView('collapse');
      });

      $('#expand-btn').on('click', function() {
        $('#json').JSONView('expand');
      });

      $('#toggle-btn').on('click', function() {
        $('#json').JSONView('toggle');
      });

      $('#toggle-level1-btn').on('click', function() {
        $('#json').JSONView('toggle', 1);
      });

      $('#toggle-level2-btn').on('click', function() {
        $('#json').JSONView('toggle', 2);
      });
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="center-align">
      <h3>inspectweb</h3>
      <a href="/">See list</a>
      <hr />
    </div>
    <div class="center-align">
      <button class="btn waves-effect waves-light" id="collapse-btn">Collapse</button>
      <button class="btn waves-effect waves-light" id="expand-btn">Expand</button>
      <button class="btn waves-effect waves-light" id="toggle-btn">Toggle</button>
      <button class="btn waves-effect waves-light" id="toggle-level1-btn">Toggle level1</button>
      <button class="btn waves-effect waves-light" id="toggle-level2-btn">Toggle level2</button>
    </div>
    <div style="margin-top: 30px; border: 1px solid #ccc; padding: 10px;" id="json"></div>
    <div class="center-align"><h3>collapsed</h3></div>
    <div style="margin-top: 30px; border: 1px solid #ccc; padding: 10px;" id="json-collapsed"></div>
  </div>
</body>
</html>
