<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>InspectWeb</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="center-align">
      <h3>inspectweb</h3>
    </div>
    <div class="container">
      <ul>
        <% list.forEach(function(item) { %>
          <li>
            <a href=<%= '/' + item %>>
              <% if (meta[item].name) { %>
                <b>
                  <%= meta[item].name %>
                </b>
              <% } %>
              <%= item %>
            </a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
</body>
</html>
